In [ ]:
#pip install kafka-python

In [1]:
import pandas as pd
from kafka import KafkaConsumer,KafkaProducer
from time import sleep
from json import dumps
import json

In [2]:
#so here we'll be sinding the json data from local sytemvia kafka producer

producer = KafkaProducer(bootstrap_servers=['43.204.25.108:9092'],
                        value_serializer =lambda x:dumps(x).encode('utf-8'))

In [3]:
producer.send('demo_test2',value="{'Big3':'Data3'}")

In [4]:
#reading dataset
df = pd.read_csv("/home/ansel/kafka_stock_market_proj/stock_market_data.csv")
df.head()

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
0,HSI,1986-12-31,2568.300049,2568.300049,2568.300049,2568.300049,2568.300049,0.0,333.879006
1,HSI,1987-01-02,2540.100098,2540.100098,2540.100098,2540.100098,2540.100098,0.0,330.213013
2,HSI,1987-01-05,2552.399902,2552.399902,2552.399902,2552.399902,2552.399902,0.0,331.811987
3,HSI,1987-01-06,2583.899902,2583.899902,2583.899902,2583.899902,2583.899902,0.0,335.906987
4,HSI,1987-01-07,2607.100098,2607.100098,2607.100098,2607.100098,2607.100098,0.0,338.923013

In [5]:
#getting random data so we'll keep running this to get random data
df.sample(1)

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
21452,NYA,2017-06-28,11771.13965,11827.5,11771.13965,11812.79981,11812.79981,3.500800e+09,11812.79981

In [6]:
##converting to json format
#df.sample(1).to_dict()

In [7]:
#df.sample(1).to_dict(orient='records')[0] #to get data inproper dictionary format

In [8]:
while True:
    dict_stock=df.sample(1).to_dict(orient='records')[0]
    producer.send('demo_test2',value=dict_stock)
    sleep(1)

KeyboardInterrupt:

In [ ]:
producer.flush()#to clear producer of any data